# ignore these files in keeping track

# LaTeX compilation files
*.aux
*.auxlock
*.bcf
*.log
*.out
*.run.xml
*.synctex.gz
*.tex.bak
*.xmpi
*.lof
*.toc
*.lot
00-main.pdf
*.bbl
*.blg

# figures externalized from LaTeX compilation
*figure*.dep
*figure*.dpth
*figure*.md5
*figure*.pdf

# versions of the thesis
*tesi*.pdf

# other files
*.docx
