# ignore these files in keeping track

# LaTeX typesetting files
*.aux
*.auxlock
*.bcf
*.log
*.out
*.xml
*.synctex.gz
*.tex.bak
*.xmpi
*.lof
*.toc
*.lot
00-main.pdf
*.bbl
*.blg

# figures externalized from LaTeX typesetting
*.dep
*.dpth
*.md5
*.pdf

# versions of the thesis
*tesi*.pdf

# frontespizio files
*frn.tex

# glossaries files
*.glo
*.glg
*.gls
*.ist

# other files
*.docx
